.idea
venv
data/path/*.png
data/path/*.html
qt_designer/*.py
*/__pycache__/*
algorithm/__pycache__/*
objs/__pycache__/*
*.spec
*/*.spec
data/path/*
test.html
__pycache__/

data/path/dot.html
data/path/path.html
data/unfinished_orders.txt
algorithm/__pycache__/
algorithm/__pycache__